.dub
.vs
docs.json
__dummy.html
docs/
squareone_dlang.so
squareone_dlang.dylib
squareone_dlang.dll
squareone_dlang.a
squareone_dlang.lib
squareone_dlang-test-*
*.exe
*.o
*.obj
*.lst
*.suo
.vs/
.idea/
.vscode/
**/bin
**/dub.userprefs
assets
moxana